#root {
  
  margin: 0;
    text-align: center;
  
  
}

.contenedor {
  display:-webkit-inline-box;
    grid-template-columns: repeat(4, );
    padding: 20px;
 
}

.card {
    justify-content: center;
    align-items: center;
    min-height: 18rem;
    margin: 3rem;
}
  
    footer {
      width ;
      margin:auto;
  }